
<!DOCTYPE html>
<html lang="it">
<head>


<script src="https://fb.me/react-0.14.3.js"></script><script src="https://fb.me/react-dom-0.14.3.js"></script><script crossorigin charset="utf-8" src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel" src="../../../views/react_components/Button.jsx"></script><link rel="stylesheet" href="https://italia.github.io/design-web-toolkit/build/build.css"></link>
</head>
<body>
<ul>
<li class="u-padding-all-s" id="button"></li>
<li class="u-padding-all-s" id="button-pressed"></li>
<li class="u-padding-all-s" id="button-disabled"></li>
<li  class="u-padding-all-s" id="button-round"></li>
<li  class="u-padding-all-s" id="button-round-shadow"></li>
<li  class="u-padding-all-s" id="link-shadow-round"></li>
</ul>
<script type="text/babel">

ReactDOM.render(
<Button  text="Button default"/>,
document.getElementById("button")
);
ReactDOM.render(
<Button  text="Button default pressed" pressed={true}/>,
document.getElementById("button-pressed")
);
ReactDOM.render(
<Button  text="Button default disabled" disabled={true}/>,
document.getElementById("button-disabled")
);
ReactDOM.render(
<Button  text="Button default round" round={true}/>,
document.getElementById("button-round")
);
ReactDOM.render(
<Button  text="Button default round shadow" round={true} shadow={true}/>,
document.getElementById("button-round-shadow")
);
ReactDOM.render(
<Button  text="Link button default round shadow" shadow={true} round={true} link="#"/>,
document.getElementById("link-shadow-round")
);
</script>

</body>
</html>
