/* ==========================
// `<pre>` and `<code>` tags.
// ========================== */

pre,
code,
code .token[class],
code .token.comment[class] {
  font-style: normal;
  color: #f8f8f2;
}

pre > code,
pre > code[class] {
  outline: 0;

  display: block;

  font-size: 13px;
  tab-size: 2;

  padding: 1em;
  overflow-x: auto;
}

/* =======================================
// Fix incorrect Storybook implementation.
// ======================================= */

[class] > pre.hljs[class] {
  overflow: hidden;
  padding: 0;
  white-space: pre;
}

[class] > pre.hljs[class] > code {
  background-color: transparent;
  border-radius: 0;
}
