/* ==========================
// `<pre>` and `<code>` tags.
// ========================== */

pre, code, sbdocs-preview>code .token[class], sbdocs-preview>code .token.comment[class] {
  font-style: normal;
  color: #f8f8f2;
}

pre>code, pre>code[class] {
  outline: 0;
  display: block;
  font-size: 13px;
  tab-size: 2;
  padding: 1em;
  overflow-x: auto;
}

/* =======================================
// Fix incorrect Storybook implementation.
// ======================================= */

[class]>pre.hljs[class] {
  overflow: hidden;
  padding: 0;
  white-space: pre;
}

[class]>pre.hljs[class]>code {
  background-color: transparent;
  border-radius: 0;
}

/* =======================================
// Specific tweak for the Storybook documentation
// ======================================= */

.docs .callout {
  max-width: none;
}

.bg-grey {
  background-color: #e9e6f2 !important
}

.bg-dark {
  background-color: #17324d !important;
}

.btn-example .btn {
  margin: 4px 8px;
  width: 200px;
}

.square-color {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  margin-right: 15px;
  float: left;
}

.c-line {
  height: 60px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 8px;
}

div[id*='componenti-cookiebar'] .cookiebar {
  position: relative !important;
}

.docs-show-dropdown-open div {
  position: relative !important;
  display: block !important;
}