
<!DOCTYPE html>
<html lang="it">
<head>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>


<script src="https://fb.me/react-0.14.3.js"></script><script src="https://fb.me/react-dom-0.14.3.js"></script><script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel" src="http://appleseed-apps.it/hackdev//views/react_components/CookieLaw.jsx"></script></head>
<body>
	
<div id="cookielaw"></div>
<script type="text/babel">

ReactDOM.render(
<CookieLaw text="Ciao" position="top" privacyLink="https://google.com" />,
document.getElementById("cookielaw")
);
</script>

</body>
</html>
