on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
name: Lint commits
jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install @commitlint/cli
      - run: npx commitlint --from HEAD~${{ github.event.pull_request.commits }} --to HEAD
